<body>
        <form action="" method="post">
		{% csrf_token %}
		<textarea name="content"></textarea>
		<input type="submit" value="Tell Us!">
	</form><hr>
</body>


{% load static %}
<!DOCTYPE html>
<html lang="utf-8">
<meta charset="utf-8">

  <head>
    <style>body{
font-family: 'Noto Sans TC', sans-serif;
}


input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.imgcontainer {
    text-align: center;
    margin: 50px 0 12px 0;
}

.avatar {
    width: 20%;
    border-radius: 50%;
}

.container {
    padding: 16px;
    width: 500px;
}

span.psw {
    float: right;
    padding-top: 16px;
}


/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}



</style>
 <!-- jQuery.js v1.11.1 -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<!-- This following line is optional. Only necessary if you use the option css3:false and you want to use other easing effects rather than "linear", "swing" or "easeInOutCubic". -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.5/vendors/jquery.easings.min.jss"></script>

<!-- This following line is only necessary in the case of using the option `scrollOverflow:true` -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.5/vendors/scrolloverflow.min.js"></script>

<!-- fullPage.js v2.9.5 -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.5/jquery.fullpage.min.css" rel="stylesheet"  />
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.5/jquery.fullpage.js"></script>
    <!-- Animate.css v3.5.2 -->
  <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" />
  <!-- Headroom.js v0.9.4 -->
  <script type="text/javascript" src="https://unpkg.com/headroom.js@0.9.4/dist/headroom.js"></script>

<script src="{% static "vendor/jquery/jquery.js" %}"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Beathub</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "css/full-slider.css" %}" rel="stylesheet">
  


  </head>

  <body background="{% static "1003.jpg" %}" style="text-align: center; background-repeat:no-repeat;background-position:center;background-size: cover; " >


 <form action="" method="post" ">
  <div class="imgcontainer" width="80%"  >
    
  </div>

  <div class="container" style="width: 80%">
    
  
    
   {% csrf_token %}
   
		<textarea  placeholder="有需要改進或增加的地方歡迎告訴我們~~!" style="width: 700px; height: 300px; opacity:0.65;" name="content"></textarea>
		<br>
		<br>
		<br>
		<br>
		
		<input  type="submit" value="Tell Us!" style="padding: 10px 70px 10px 70px; margin: 20px 0px 50px 0; " onclick ="return handle_form_submission()">
  </div>


<script>
  $( "#example" ).fullpage({
    // 參數設定[註1]
    navigation: true, // 顯示導行列
    navigationPosition: "right" // 導行列位置
  });
</script>

     <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="example">
      <div class="container">
      <img src="{% static "logo.png" %}" width="180" height="30" alt="">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item ">
              <a class="nav-link" href="/index">首頁
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  電子音樂
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
    <a class="dropdown-item" href="/index/001.html">TRANCE</a>
    <a class="dropdown-item" href="/index/001-1.html">DUBSTEP</a>
    <a class="dropdown-item" href="/index/001-2.html">HOUSE</a>
  </div>
</div>
                       <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  嘻哈音樂
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="/index/002.html">HIPHOP</a>
    <a class="dropdown-item" href="/index/002-1.html">LOFI  HIPHOP</a>
    <a class="dropdown-item" href="/index/002-2.html">EMOTIONAL RAP</a>
  </div>
</div>
             <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  搖滾音樂
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
   <a class="dropdown-item" href="/index/003.html">Alternative rock</a>
    <a class="dropdown-item" href="/index/003-1.html"> HARD ROCK</a>
    <a class="dropdown-item" href="/index/003-2.html"> POP ROCK</a>
  </div>
</div>
            <li class="nav-item">
{% if request.user.is_authenticated %}
              <a class="nav-link" href="/contactus">聯絡我們</a>
              {% else %}
              <a class="nav-link" href="/accounts/login/">聯絡我們</a>
              {% endif %}
            </li>
            

{% if request.user.is_authenticated %}
            <p style="color: white; padding: 5px; ">
                {{request.user}} 您好
                 <li class="nav-item">
                <a  class="nav-link" href="/accounts/logout/">登出</a>
              </li>
            </p>
        {% else %}
        <li class="nav-item">
            <a class="nav-link" href="/accounts/login/">登入</a>
          </li>
        {% endif %}

        
          


            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; BeatHub@ntust 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js" %}"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js" ></script>
    <script>
    var elem = document.getElementById( "nav-f" )
    var headroom = new Headroom(elem, {
      "offset": 120, // 當滾輪到哪時，取消固定
      "scroller": window, // 滾輪
      "classes": {
        "initial": "animated", // 初始的類別
        "pinned": "fadeIn", // 固定時新增的類別(這裡運用Animate.css的類別)
        "unpinned": "fadeOut", // 取消固定時新增的類別(這裡運用Animate.css的類別)
        "top": "headroom--top", // 當滾輪在最上面時新增的類別
        "notTop": "headroom--not-top", // 當滾輪不在最上面時新增的類別
        "bottom": "headroom--bottom", // 當滾輪在最下面時新增的類別
        "notBottom": "headroom--not-bottom" // 當滾輪不在最下面時新增的類別
      },
      onPin: function() { 
        // 固定時觸發的事件
      },
      onUnpin: function() { 
        // 取消固定時觸發的事件
      },
      onTop: function() { 
        // 當滾輪在最上面時觸發的事件
      },
      onNotTop: function() { 
        // 當滾輪不在最上面時觸發的事件
      },
      onBottom: function() { 
        // 當滾輪在最下面時觸發的事件
      }, 
      onNotBottom: function() { 
        // 當滾輪不在最下面時事件
      }
    });
    headroom.init();



function handle_form_submission()
{
  alert('謝謝您的意見  我們收到了!');

  return true;

  
   //do not submit the form
}

  </script>


</html>
